---
---

@import "{{ site.theme }}";

li.fork{
	margin-left:1px;	
}

body{
  color:orange;
}
#mobile{display:none}
@media print, screen and (max-width: 720px) {
	#mobile{display:inline}
	#pc{display:none}
	.header {
		width:100px;		
	}
	.fork{
		width:20px;
	}
}
