---
---

@import "{{ site.theme }}";

// ----------------------------------------------------------------------------------- //
// Debug
body {color:black;}
// ----------------------------------------------------------------------------------- //

// PC mode header modifications
#header {
	text-align:center;
	nav {
		display: inline-block;
		
		li.fork {
			margin-left: 1px; // Adding gaps between buttons
		}
	}
}
/*
// Mobile mode
@media print, screen and (max-width: 480px) {
	#header {
		// Default css instructions to override its specific "phone mode" instructions
		z-index: 100;
		left:0;
		top: 0px;
		height: 60px;
		width: 100%;
		position: fixed;
		
	 	nav {
			// Override default
			display: inline;
			text-align: center;

			div#menu {
				li.fork {
					// Override default
					display:inline;
					margin-top:13px;

					a{
						// Override default
						 display:inline;
						// Modification
						 .menukey{display:none}
						 width:20px;
						 height:20px;
					}
				}
			}
		}
	}
	
	// Title box override
	section {
		max-width:650px;
		padding: 30px 0px 50px 0px;
		margin: 20px 0;
		margin-top: 70px;
	}
}*/
